@model SlowPokeIMS.Web.ViewModels.DocActionsList
@if (Model.Items.Count > 0) {
    <ul class="s-navigation s-navigation__vertical li-reset">
        @foreach (var action in Model.Items)
        {
            <li title="@action.Tooltip">
                @if (action.InlineAction)
                {
                    <form action="@action.Href" method="POST" data-form-replace-with-result="true">
                        <button type="submit" class="s-navigation--item">@action.Text</button>
                    </form>
                }
                else
                {
                    <a class="s-navigation--item" href="@action.Href">@action.Text</a>
                }
            </li>
        }
    </ul>
}
else
{
    <div>No actions available</div>
}