@model slowpoke.core.Services.Node.Docs.IReadOnlyDocumentResolver
@{
    var showHost = true;// ViewData["showHost"] == "true";    
    var perms = await Model.Permissions;
}
<div class="s-card mt128">
    @if (showHost)
    {
        var hostTask = Model.Host;
        if (hostTask == null)
        {
            <p>null host task from type @Model.GetType().FullName</p>
        }
        else
        {
            var host = await hostTask;
            @Html.DisplayFor(m => host)
        }
    }
    <div class="d-grid grid__12 g8">
        <div class="grid--item grid--col11">
            <a class="fw-bold">
                @if (string.IsNullOrWhiteSpace(Model.InstanceName))
                {
                    <h4 class="fs-body2">@Model.InstanceName</h4>
                }
                else
                {
                    <h4 class="fs-body2">@Model.InstanceName</h4>
                    <div class="fs-body1">@Model.InstanceName</div>
                }
            </a>
            <partial name="DebugObject" model="new DebugObjectViewModel(perms)" />
        </div>
        <div class="grid--item">
            <div class="ta-right">
                <button class="s-btn s-btn__dropdown" type="button" role="button" aria-controls="popover-actions" data-controller="s-popover" data-action="s-popover#toggle" aria-expanded="false"></button>
            </div>
            <div id="popover-actions" class="s-popover" role="menu">
            </div>
        </div>
        @if (Model is slowpoke.core.Services.Node.Docs.ReadOnlyLocal.ReadOnlyLocalDriveDocumentProvider localDrive)
        {
            <div class="grid--item grid--col12 ">
                <div class="s-card">
                    @Html.DisplayFor(m => localDrive.DriveInfo)
                </div>
            </div>
        }
    </div>
</div>