@model slowpoke.core.Models.Node.ISlowPokeId
@{
}
<li><b>@Html.DisplayNameFor(m => m.Label)</b> @Html.DisplayFor(m => m.Label)</li>
<li><b>@Html.DisplayNameFor(m => m.Guid)</b> @Html.DisplayFor(m => m.Guid)</li>
<li><b>@Html.DisplayNameFor(m => m.GuidAlternatives)</b> @Html.DisplayFor(m => m.GuidAlternatives)</li>
<li><b>@Html.DisplayNameFor(m => m.Endpoint)</b> @Html.DisplayFor(m => m.Endpoint)</li>
<li><b>@Html.DisplayNameFor(m => m.EndpointAlternatives)</b> @Html.DisplayFor(m => m.EndpointAlternatives)</li>
<li><b>@Html.DisplayNameFor(m => m.RawIdType)</b> @Html.DisplayFor(m => m.RawIdType)</li>
<li><b>@Html.DisplayNameFor(m => m.RawId)</b> @Html.DisplayFor(m => m.RawId)</li>