@using slowpoke.core.Models.Node.Docs
@model slowpoke.core.Models.Node.Docs.QueryDocumentOptions
<div>
    <ul>
        <li><b>@Html.DisplayNameFor(m => m.Recursive):</b> @Model.Recursive</li>
        <li><b>@Html.DisplayNameFor(m => m.Folder):</b> @Model.Folder</li>
        <li><b>@Html.DisplayNameFor(m => m.Path):</b> @Model.Path</li>
        <li><b>@Html.DisplayNameFor(m => m.Name):</b> @Model.Name</li>
        <li><b>@Html.DisplayNameFor(m => m.Extension):</b> @Model.Extension</li>
        <li><b>@Html.DisplayNameFor(m => m.ContentType):</b> @Model.ContentType</li>
        <li><b>@Html.DisplayNameFor(m => m.CreationDateMin):</b> @Model.CreationDateMin</li>
        <li><b>@Html.DisplayNameFor(m => m.CreationDateMax):</b> @Model.CreationDateMax</li>
        <li><b>@Html.DisplayNameFor(m => m.LastUpdateMin):</b> @Model.LastUpdateMin</li>
        <li><b>@Html.DisplayNameFor(m => m.LastUpdateMax):</b> @Model.LastUpdateMax</li>
        <li><b>@Html.DisplayNameFor(m => m.Offset):</b> @Model.Offset</li>
        <li><b>@Html.DisplayNameFor(m => m.PageSize):</b> @Model.PageSize</li>
        <li><b>@Html.DisplayNameFor(m => m.OrderByColumn):</b> @Model.OrderByColumn</li>
        <li><b>@Html.DisplayNameFor(m => m.OrderByAscending):</b> @Model.OrderByAscending</li>
    </ul>
</div>