@inject IServiceProvider services
@model slowpoke.core.Models.Node.Docs.IReadOnlyDocument
@{
    var meta = await Model.Meta;
    string allText = null;
    bool isPDF = false;
    bool isImage = false;
    var contentType = await meta.ContentType;
    if (!string.IsNullOrWhiteSpace(contentType))
    {
        switch (contentType)
        {
            case "application/pdf":
            isPDF = true;
            break;
            case "text":
            allText = await Model.ReadAllText(Encoding.Unicode, numLines: 5);
            break;
            default:
            if (contentType.StartsWith("text/"))
            {
                allText = await Model.ReadAllText(Encoding.Unicode, numLines: 5);
            }
            else if (contentType.StartsWith("image/"))
            {
                isImage = true;
            }
            break;
        }
    }
    var title = meta.Title;
    var classSize = (ViewData["classSize"] as string) ?? "";
    ViewData["badgeClass"] = string.IsNullOrEmpty(classSize) ? "s-badge" : $"s-badge s-badge{classSize}";
    var titleHref = "fixme";//Model.TitleUrlResolver(Model);
}
<div class="s-card">
    <div class="d-grid grid__12 g8">
        <div class="grid--item grid--col11">
            <a class="fw-bold" href="@titleHref">
                @if (string.IsNullOrWhiteSpace(title))
                {
                    <h4 class="fs-body2">@Model.Path</h4>
                }
                else
                {
                    <h4 class="fs-body2">@title</h4>
                    <div class="fs-body1">@Model.Path</div>
                }
            </a>
            <div>Size: @string.Format("{0:n0}", await Model.SizeBytes) bytes</div>
        </div>
        <div class="grid--item">
            <div class="ta-right">
                <button class="s-btn s-btn__dropdown" type="button" role="button" aria-controls="popover-actions" data-controller="s-popover" data-action="s-popover#toggle" aria-expanded="false"></button>
            </div>
            <div id="popover-actions" class="s-popover" role="menu">
                @{ var actions = await Model.GetActions(Url, services); }
                @Html.DisplayFor(m => actions)
            </div>
        </div>
        <div class="grid--item grid--col12 s-card">
            @if (string.IsNullOrWhiteSpace(allText))
            {
                var urlRaw = @Url.ActionLink("Raw", "Home", values: new { path = Model.Path.PathValue });
                if (isPDF)
                {
                    <embed src="@urlRaw" class="w100" />
                }
                else if (isImage)
                {
                    <img src="@urlRaw" class="w50" />
                }
                else
                {
                    <span class="fs-italic">unknown content type or extension</span>
                }
            }
            else
            {
                <span class="ws-pre-line">@allText</span>
            }
        </div>
        <partial name="NodeMeta" />
    </div>
</div>